<div class="row h-75 m-0 p-0 align-items-center mat-accent cuadros bg-white">
  <button type="button" class="offset-11 btn btn-danger rounded-circle d-inline align-self-end mt-2"
  (click)="cerrarForm()">
  X
</button>
  <div class="col-12 mt-4">
    <mat-tab-group class="col-12" mat-align-tabs="center">
      <mat-tab label="Solicitudes" class="col-12 mt-5">
        <form [formGroup]="this._clienteService.SolicitudForm"
          class=" pt-3 bg-white m-auto align-self-center col-12">
          <div class="row">
            <div class="col-12">
              <mat-form-field class="col-6 col-lg-2">
                <mat-label>Fecha</mat-label>
                <input matInput [matDatepicker]="picker2" formControlName="fecha" readonly />
                <mat-datepicker-toggle matSuffix [for]="picker2" readonly></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="col-6 col-lg-2">
                <input matInput type="text" placeholder="Departamento" readonly value="{{departamento}}" />
              </mat-form-field>
              <mat-form-field class="col-6 col-lg-2">
                <input matInput type="text" placeholder="Seccion" readonly formControlName="seccionId" />
              </mat-form-field>
              <mat-form-field class="col-6 col-lg-2">
                <input matInput type="text" placeholder="Sector" readonly formControlName="sector" />
              </mat-form-field>
              <mat-form-field class="col-6 col-lg-2">
                <input matInput type="text" placeholder="Estado" readonly formControlName="estado" />
              </mat-form-field>
              <mat-form-field class="col-6 col-lg-4">
                <input matInput type="text" placeholder="Direccion de Solicitud" readonly
                  formControlName="direccionSolicitud" />
              </mat-form-field>
              <mat-form-field class="example-full-width col-5 col-lg-5">
                <input matInput #message maxlength="256" placeholder="Descripcion" readonly
                  formControlName="descripcion" />
                <mat-hint align="end">{{ message.value.length }} / 256</mat-hint>
              </mat-form-field>
              <div class="offset-1 col-2 d-inline hadow-lg p-1 pt-2 border  enlaces mb-3 w-25" (click)="Add()">
                <i class="fas fa-user-plus"></i>  Nueva Solicitud
            </div>
            </div>
          </div>
        </form>
        <div class="col-12 h-auto">
          <div class="mat-elevation-z0 col-12">
            <table mat-table [dataSource]="dataSource" matSort>
              <ng-container matColumnDef="fechaSolicitud">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Fechas
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.fecha | date: "dd/MM/yyyy" }}
                </td>
              </ng-container>

              <!-- Progress Column -->
              <ng-container matColumnDef="departamento">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Tipo de Solicitud
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.tipoSolicitud }}
                </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="No. ruta">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  No. ruta
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.rutaSolicitud.length }}
                </td>
              </ng-container>

              <!-- Color Column -->
              <ng-container matColumnDef="sector">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Sectores
                </th>
                <td mat-cell *matCellDef="let row">{{ row.sector }}</td>
              </ng-container>

              <!-- Color Column -->
              <ng-container matColumnDef="direccionSolicitud">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Direcciones
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.direccionSolicitud }}
                </td>
              </ng-container>

              <!-- Color Column -->
              <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Estado
                </th>
                <td mat-cell *matCellDef="let row">{{ row.estado }}</td>
              </ng-container>

              <ng-container matColumnDef="buscar">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Mostrar
                </th>
                <td mat-cell *matCellDef="let row">
                  <i class="fas fa-search option p-2" (click)="Cargar(row)"></i>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Cotizacion">
        <app-solicitudcotizacion></app-solicitudcotizacion>
      </mat-tab>
      <mat-tab label="Rutas">
        <app-solicitudrutas></app-solicitudrutas>
      </mat-tab>
      <mat-tab label="Encuentros con el cliente">
        <app-solicitud-seguimientos></app-solicitud-seguimientos>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>