<div class="row h-auto m-5 p-0  bg-white justify-content-center mat-accent cuadros shadow-lg p-3 ">
    <div class="col-12 d-inline ">
        <h4 class="col-11  text-center">
        <i class="fas fa-road"></i> Ruta
        </h4>
    </div>
    <div class=" col-11 h-75  mt-4">
        <div class="row h-auto align-self-start">
            <app-solicitud class="col-6">
              
            </app-solicitud>
            <app-lista-detalles class="col-6 m-auto">
               
            </app-lista-detalles>
        </div>
    </div>
</div>