<div class="row h-auto m-5 p-0  justify-content-center mat-accent">
    <div class="row col-11 h-75 cuadros shadow-lg p-3 bg-white mt-4">
      <div class="row h-auto align-self-start">
            <div class="col-12 d-inline text-center">
                <h4 class="col-11  d-inline">
                <i class="fas fa-file"></i> Solicitudes
                </h4>
            </div>
            <app-fomr-solisitudes class="col-12"></app-fomr-solisitudes>
            <app-table-solisitudes class="col-12"></app-table-solisitudes>
        </div>
    </div>
</div>